<div class="flex h-screen relative bg-gray-100">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  
  <!-- Main Content -->
  <div class="flex-1 flex flex-col">
    <header class="bg-orange-500 text-white p-4 flex justify-between items-center">
      <h1 class="text-xl font-bold">Store Keeper Area</h1>
      <div class="flex gap-4 items-center">
        <input
          type="text"
          placeholder="Search Tool"
          class="bg-white text-gray-700 p-2 rounded-lg focus:outline-none"
        />
        <i class="icon-name"></i>
        <div class="w-8 h-8 bg-gray-200 rounded-full flex items-center justify-center">
          <i class="icon-name"></i>
        </div>
      </div>
    </header>

    <div class="flex justify-between items-center p-4">
      <h2>All Items</h2>
      <button routerLink="app-add-item" class="p-2 border-[#F58321] text-[#5D6679] border-2 rounded-[4px]">Add new</button>
    </div>
    
    <!-- Dynamic Content -->
    <router-outlet></router-outlet>
  </div>
</div>
