<div class="flex justify-center items-center h-screen">
    <div class="h-full w-[500px]">
      <div class="space-y-10 flex flex-col justify-center text-center bg-white p-4 shadow-md rounded-lg">
        <h1 class="text-2xl font-bold mb-4">New Item</h1>
        
        <div class="flex flex-row items-center justify-between">
          <h3 class="text-[#48505E] text-[16px]">Item Name</h3>
          <input type="text" placeholder="Enter product name" class="border-[1px] border-[#D0D5DD] p-2 rounded-lg w-[333px]" />
        </div>
        
        <div class="flex flex-row items-center justify-between">
          <h3 class="text-[#48505E] text-[16px]">Quantity</h3>
          <input type="text" placeholder="Enter Product Quantity" class="border-[1px] border-[#D0D5DD] p-2 rounded-lg w-[333px]" />
        </div>
        
        <div class="flex flex-row items-center justify-between">
          <h3 class="text-[#48505E] text-[16px]">Item Name</h3>
          <input type="text" placeholder="Enter product name" class="border-[1px] border-[#D0D5DD] p-2 rounded-lg w-[333px]" />
        </div>
        <div class="flex flex-row items-center justify-between">
            <h3 class="text-[#48505E] text-[16px]">Date of delivery</h3>
            <input type="text" placeholder="Enter date of delivery" class="border-[1px] border-[#D0D5DD] p-2 rounded-lg w-[333px]" />
          </div>

          <div class="justify-start flex">
            <label for="image-upload" class="cursor-pointer">
              <img class="w-[172px] h-[131px]" src="/icon.png" alt="Upload Image">
            </label>
            <input id="image-upload" type="file" class="hidden" accept="image/*">
          </div>
      </div>
    </div>
  </div>
  