<div class="w-full h-screen">
    <div class="text-center grid justify-center p-20">
        <div>
            <img src="Logo.png" class="w-[459px] h-[147]" alt="logo">
            <h1 class="text-[47px]  text-black font-semibold mt-10">Login As</h1>
            <div class="grid mt-10 gap-4">
               <button class="bg-[#FF4D00] text-white text-[30px] font-semibold  p-4 w-[459px] rounded-[8px]">Store Keeper</button>
               <button class="bg-[#FF4D00] text-white text-[30px] font-semibold  p-4 w-[459px] rounded-[8px]">Technician</button>
            </div>
        </div>
    </div>

</div>