<div class="h-screen bg-gray-100 ">
    <div class="flex mt-20 h-full justify-center items-center ">
      <form [formGroup]="addTechnicianForm" (ngSubmit)="addTechnician()" >
        <div class="space-y-10 w-[500px] flex flex-col justify-center text-center bg-white p-4 shadow-md rounded-lg">
            <h1 class="text-2xl font-bold mb-4">New Technician</h1>
            <div class="flex flex-row items-center justify-between">
              <h3 class="text-[#48505E] text-[16px]">Name</h3>
              <input type="text" formControlName="name" placeholder="Enter Name" class="border-[1px] border-[#D0D5DD] p-2 rounded-lg w-[333px]" />
            </div>
            <div *ngIf="addTechnicianForm.get('name')?.touched && addTechnicianForm.get('name')?.invalid">
              <small class="text-red-600" *ngIf="addTechnicianForm.get('name')?.hasError('required')">Technician Name Required</small>
               <small class="text-red-600" *ngIf="addTechnicianForm.get('name')?.hasError('minlength')">Technician Name must be at least 3 characters long</small>
          </div>
            
            <div class="flex flex-row items-center justify-between">
              <h3 class="text-[#48505E] text-[16px]">Occupation</h3>
              <input type="text" formControlName="occupation" placeholder="Enter Your Occupation" class="border-[1px] border-[#D0D5DD] p-2 rounded-lg w-[333px]" />
            </div>
            <div *ngIf="addTechnicianForm.get('occupation')?.touched && addTechnicianForm.get('occupation')?.invalid">
              <small class="text-red-600" *ngIf="addTechnicianForm.get('occupation')?.hasError('required')">occupation Required</small>
            </div>
            
            <div class="flex flex-row items-center justify-between">
              <h3 class="text-[#48505E] text-[16px]">Contact</h3>
              <input  type="text" formControlName="contactNumber" placeholder="Enter Your Contact" class="border-[1px] border-[#D0D5DD] p-2 rounded-lg w-[333px]" />
            </div>
            <div *ngIf="addTechnicianForm.get('contactNumber')?.touched && addTechnicianForm.get('contactNumber')?.invalid">
              <small class="text-red-600" *ngIf="addTechnicianForm.get('contactNumber')?.hasError('required')">Contact Number Required</small>
            </div>
            <div class="flex flex-row items-center justify-between">
                <h3 class="text-[#48505E] text-[16px]">Password</h3>
                <input type="text" formControlName="password" placeholder="Enter Your Password" class="border-[1px] border-[#D0D5DD] p-2 rounded-lg w-[333px]" />
              </div>
              <div *ngIf="addTechnicianForm.get('password')?.touched && addTechnicianForm.get('password')?.invalid">
                <small class="text-red-600" *ngIf="addTechnicianForm.get('password')?.hasError('required')">Password Required</small>
              </div>
              <button type="submit" [disabled]="addTechnicianForm.invalid" class=" text-white bg-[#FF4D00] p-4 rounded-[10px] text-[20px] ">Add Technician</button>
          </div>
      </form>
    </div>
  </div>
  