<div class="w-full h-screen">
    <div class="text-center grid justify-center p-20">
        <div>
            <img src="Logo.png" class="w-[459px] h-[147]" alt="logo">
            <h1 class="text-[47px]  text-black font-semibold mt-10">Welcome</h1>
            <div class="grid mt-10 gap-4">

                <div class="mt-4">
                    <label for="fullname" class="text-[#48505E] text-start block mb-2 text-[14px] font-medium leading-[20px]">Name</label>
                    <div class="relative">
        
                        <input type="text"   placeholder="Enter your Name" class="w-full pl-4 px-5 py-3 rounded-lg text-black  border-[#D0D5DD] border-[1px] focus:outline-none" required />
                       
                    </div>
                    
                </div>

                <div class="mt-4">
                    <label for="fullname" class="text-[#48505E] text-start block mb-2 text-[14px] font-medium leading-[20px]">Password</label>
                    <div class="relative">
        
                        <input type="password"   placeholder="********" class="w-full pl-4 px-5 py-3 rounded-lg text-black  border-[#D0D5DD] border-[1px] focus:outline-none" required />
                       
                    </div>
                    
                </div>
               
               
               <button class="bg-[#FF4D00] text-white text-[30px] font-semibold  p-4 w-[459px] rounded-[8px]">GO</button>
               
            </div>
        </div>
    </div>

</div>