<div class="w-64 h-[940px]  bg-white shadow-lg flex flex-col">
    <div class="p-4 text-center">
      <img src="/Logo.png" alt="World Vision Logo" class="h-12 mx-auto" />
    </div>
    <ul class="space-y-10 text-gray-700 p-4">
        <li
      *ngFor="let button of buttons"
      class="flex items-center gap-2 cursor-pointer text-black"
      [routerLink]="button.route"
    >
      <i class="{{ button.icon }}"></i> {{ button.label }}
      
    </li>
    </ul>
    <div class="mt-[24rem] p-4">
      <button class="flex items-center gap-2 cursor-pointer w-full px-4 py-2 text-white bg-[#FF4D00] rounded-md hover:bg-[#b6572e]">
        <i class="icon-name"></i> Log Out
      </button>
    </div>
  </div>
  