<div class="w-64 h-screen bg-white shadow-lg flex flex-col">
    <div class="p-4 text-center">
      <img src="/Logo.png" alt="World Vision Logo" class="h-12 mx-auto" />
    </div>
    <ul class="space-y-10 text-gray-700 p-4">
        <li class="flex items-center gap-2 cursor-pointer" routerLink="app-item">
            <i class="icon-name"></i> Items
          </li>
      <li class="flex items-center gap-2 cursor-pointer" routerLink="app-add-item">
        <i class="icon-name"></i> Add Items
      </li>
      <li class="flex items-center gap-2 cursor-pointer" routerLink="/storekeeper/history">
        <i class="icon-name"></i> History
      </li>
      <li class="flex items-center gap-2 cursor-pointer" routerLink="/storekeeper/technicians">
        <i class="icon-name"></i> Technicians
      </li>
      <li class="flex items-center gap-2 cursor-pointer">
        <i class="icon-name"></i> Log Out
      </li>
    </ul>
  </div>
  